.chats {
  position: relative;
  width: 19.375rem;
  height: 26.25rem;
  color: black;
}
.chats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
  height: 3.125rem;
  background-color: #059ee0;
}
.chats__header--avatar {
  width: 1.5625rem !important;
  height: 1.5625rem !important;
  cursor: pointer;
}

.chats__header--search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 0.5rem;
}
.chats__header--search>.icon{
  color: white;
}
.chats__header--search > input {
  outline: none;
  border: none;
  flex: 1;
  color: #ffffff;

  background-color: transparent;
}
.chats__header--search > input::placeholder {
  color: white;
  opacity: 1;
}
.chats__header--icon {
  cursor: pointer;
  color: white;
}

.chats__posts {
  height: 100%;
  background-color: #ffffff;
  margin-top: -0.4rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  -webkit-box-shadow: 0px -6px 9px -1px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -6px 9px -1px rgba(0,0,0,0.33);
  box-shadow: 0px -6px 9px -1px rgba(0,0,0,0.33);
  overflow: scroll;
}
.chats__posts::-webkit-scrollbar{
display: none;
}
