.chat {
  position: relative;
  width: 19.375rem;
  height: 31.25rem;
}
.chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
  height: 3.125rem;
  background-color: #059ee0;
}
.chat__header--avatar {
  width: 1.5625rem !important;
  height: 1.5625rem !important;
}

.chat__header--search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 0.5rem;
}
.chat__header--search > input {
  outline: none;
  border: none;
  flex: 1;
  color: #ffffff;

  background-color: transparent;
}
.chat__header--search > input::placeholder {
  color: white;
  opacity: 1;
}
.chat__header--icon {
  cursor: pointer;
}

.chat__posts {
  height: 100%;
  background-color: #ffffff;
  margin-top: -0.4rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
  overflow: scroll;
}
.chat__posts::-webkit-scrollbar{
display: none;
}