*::before,
*,
*::after {
  margin: 0;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fffc00;
<<<<<<< HEAD

}

=======
 

}
>>>>>>> f5b7d0826efe85926264e1623648f5c14824545d
